.card-big {
    max-width: inherit !important;
}

ul.wp-gpi-albums {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-grow: 4
}

ul.wp-gpi-albums li {
    width: 200px;
    height: 250px;
    padding: 10px;
}

ul.wp-gpi-albums li div.img-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    width: 200px;
    height: 200px;
}

ul.wp-gpi-albums li div.img-cover .over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all ease 0.5s;
    opacity: 0;
    cursor: pointer;
}

ul.wp-gpi-albums li div.img-cover .over span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul.wp-gpi-albums li div.img-cover .over:hover,
ul.wp-gpi-albums li div.img-cover.active .over {
    opacity: 1;
}

ul.wp-gpi-albums li div.img-cover img {
    flex-shrink: 0;
    /*min-width: 100%;*/
    /*min-height: 100%*/
    max-width: 100%;
    max-height: 100%;
}

ul.wp-gpi-albums li .album-name {
    display: block;
    text-align: center;
    font-weight: bold;
}

ul.wp-gpi-albums li a {
    display: block;
    text-align: center;
    font-size: 10px;
}

.wp-gpi-loadmore {
    display: none;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 0;
    transition: all ease 0.3s;
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.wp-gpi-loadmore:hover {
    background: #135e96;
    border-color: #135e96;
    color: #fff;
}

.wp-gpi-loadmore:disabled,
.wp-gpi-loadmore[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.wp-gpi-importing-list {
    list-style: decimal inside;
}

/* Absolute Center Spinner */
.wp-gpi-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

/* Transparent Overlay */
.wp-gpi-loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.wp-gpi-loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.wp-gpi-loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: wp-gpi-spinner 1500ms infinite linear;
    -moz-animation: wp-gpi-spinner 1500ms infinite linear;
    -ms-animation: wp-gpi-spinner 1500ms infinite linear;
    -o-animation: wp-gpi-spinner 1500ms infinite linear;
    animation: wp-gpi-spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes wp-gpi-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes wp-gpi-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes wp-gpi-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes wp-gpi-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}